input[type=checkbox] {
    display: none;
}
  
label {
    background: radial-gradient(#80D5FD, #1d497a);
}
  
#field-checkbox:checked ~ #field {
    background: radial-gradient(#fff, #86888b);
  }

input[type=checkbox] {
    display: none;
}
  
label {
    background: radial-gradient(#80D5FD, #1d497a);
}
  
$fieldsCount: 25;
  
@for $i from 1 through $fieldsCount {
    #field-checkbox#{$i}:checked ~ .layers .fields-layer #field#{$i} {
        background: radial-gradient(#fff, #86888b);
        pointer-events: none;
    }
}